<html>
    <body>
        <h2>Here are the kitties!</h2>
        <% for (var kitty of kitties) { %>
            <h3>Name: <%= kitty.name %></h3>
            <h4>Age: <%= kitty.age %></h4>
            <h4>Hobby: <%= kitty.hobby %></h4>
            <hr>
        <% } %>
    </body>
</html>